<h2>Buscar autores</h2>
<form action="/authors" method="GET">
    <label>Nome</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Pesquisar</button>
</form>
<br>
<% authors.forEach(author => { %>
<div><%= author.name %></div>
<% }) %>